<?xml version="1.0" encoding="UTF-8"?>
<!-- Log levels from low to high: TRACE < DEBUG < INFO < WARN < ERROR < FATAL; if set to WARN, messages below WARN will not be output -->
<!-- scan: when set to true, the configuration is reloaded upon changes (default true) -->
<!-- scanPeriod: interval to check configuration changes; default unit is milliseconds. Effective when scan=true. Default is 1 minute. -->
<!-- debug: when set to true, prints logback internal logs to observe runtime status (default false) -->
<configuration  scan="true" scanPeriod="10 seconds">

    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <contextName>logback</contextName>
    <!-- 'name' is the variable name, 'value' is the definition. Variables are inserted into the logger context and referenced with ${}. -->
    <property name="log.path" value="E:/04-learn/summer/log" />

    <!-- Colored logs -->
    <!-- Rendering converters for colored logs -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- Colored log pattern -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>


    <!-- Output to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Appender for development; sets the lowest level. Console outputs messages at or above this level. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <!-- Set charset -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- Output to files -->

    <!-- Time-based rolling output for DEBUG level -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Path and file name of the current log file -->
        <file>${log.path}/log_debug.log</file>
        <!-- Log file output format -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- Set charset -->
        </encoder>
        <!-- Rolling policy by date and size -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log archival -->
            <fileNamePattern>${log.path}/debug/log-debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Number of days to keep log files -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- This appender records only DEBUG level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Time-based rolling output for INFO level -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Path and file name of the current log file -->
        <file>${log.path}/log_info.log</file>
        <!-- Log file output format -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
            <!-- Rolling policy by date and size -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily archive path and format -->
            <fileNamePattern>${log.path}/info/log-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Number of days to keep log files -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- This appender records only INFO level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Time-based rolling output for WARN level -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Path and file name of the current log file -->
        <file>${log.path}/log_warn.log</file>
        <!-- Log file output format -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- Set charset here -->
        </encoder>
        <!-- Rolling policy by date and size -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/warn/log-warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Number of days to keep log files -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- This appender records only WARN level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!-- Time-based rolling output for ERROR level -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Path and file name of the current log file -->
        <file>${log.path}/log_error.log</file>
        <!-- Log file output format -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- Set charset here -->
        </encoder>
        <!-- Rolling policy by date and size -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Number of days to keep log files -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- This appender records only ERROR level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--
        <logger> sets the log level for a specific package or class and specifies <appender>.
        <logger> has a required 'name' and optional 'level' and 'additivity' attributes.
        name: the package or class constrained by this logger.
        level: case-insensitive log levels: TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF;
               special value INHERITED (NULL) enforces parent level.
               If not set, the logger inherits its parent level.
        additivity: whether to pass logs to parent logger. Default true.
    -->
    <!--<logger name="org.springframework.web" level="info"/>-->
    <!--<logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="INFO"/>-->
    <!--
        When using MyBatis, SQL is printed only under DEBUG. With root at INFO, there are two options:
        1) Change <root level="info"> to <root level="DEBUG"> to print SQL (but more logs will appear),
        2) Configure DEBUG for the DAO package only, so SQL prints while others remain at INFO.
     -->


    <!--
        The root node is required and specifies the base log level (only 'level' attribute).
        level: case-insensitive levels: TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF;
        cannot be INHERITED/NULL. Default is DEBUG.
        It can include zero or more <appender-ref> to attach appenders to this logger.
    -->

    <!-- Development environment: print to console -->
<!--    <springProfile name="dev">-->
<!--        <logger name="com.nmys.view" level="debug"/>-->
<!--    </springProfile>-->

    <!-- camunda -->
    <!-- <logger name="org.camunda" level="info" />

    <logger name="org.camunda.bpm.engine.impl" level="debug" />
    <logger name="org.apache.ibatis.transaction" level="info" />

    <logger name="jakarta.activation"  level="info" />
    <logger name="org.springframework" level="info" />
    <logger name="com.zaxxer.hikari.pool" level="info" />

    <logger name="org.hibernate.SQL" level="debug" />
    <logger name="org.hibernate.orm.jdbc.bind" level="trace" />
    <logger name="org.hibernate.type.descriptor.jdbc" level="trace" />
    <logger name="org.hibernate.engine.jdbc.batch.internal" level="debug" />
    <logger name="org.hibernate.stat" level="debug" /> -->


    <root level="debug">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="DEBUG_FILE" />-->
<!--        <appender-ref ref="INFO_FILE" />-->
<!--        <appender-ref ref="WARN_FILE" />-->
<!--        <appender-ref ref="ERROR_FILE" />-->
    </root>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

<!--    <root level="info">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="DEBUG_FILE" />-->
<!--        <appender-ref ref="INFO_FILE" />-->
<!--        <appender-ref ref="WARN_FILE" />-->
<!--        <appender-ref ref="ERROR_FILE" />-->
<!--    </root>-->

    <!-- Production environment: output to files -->
    <!--<springProfile name="pro">-->
    <!--<root level="info">-->
    <!--<appender-ref ref="CONSOLE" />-->
    <!--<appender-ref ref="DEBUG_FILE" />-->
    <!--<appender-ref ref="INFO_FILE" />-->
    <!--<appender-ref ref="ERROR_FILE" />-->
    <!--<appender-ref ref="WARN_FILE" />-->
    <!--</root>-->
    <!--</springProfile>-->

</configuration>
